# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=crawl-careers

# Embedding Model
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

# File Storage
UPLOAD_DIR=data/cvs
JD_FOLDER=data/jds
CV_TEXT_LOG_DIR=data/log-cv-to-text

# API Configuration
API_HOST=127.0.0.1
API_PORT=8000
API_DEBUG=true

# CORS Origins
ALLOWED_ORIGINS=*

# Hugging Face Token
HF_TOKEN=

# Logging
LOG_LEVEL=INFO